<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>About Team Gearshift</span></h5>
        <p>Team 60855 Gearshift is competing in FIRST LEGO League 2025-2026. Follow our journey as we design, build, and program our robot!</p>
        <a href="{{site.baseurl}}/pages/about" class="btn btn-primary btn-sm">Learn More</a>
    </div>
    <div class="sidebar-section">
        <h5><span>Recent Posts</span></h5>
        <ul class="list-unstyled">
        {% for post in site.posts limit:5 %}
            <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="sidebar-section">
        <h5><span>Categories</span></h5>
        <a href="{{site.baseurl}}/pages/categories" class="btn btn-secondary btn-sm">Browse All Categories</a>
    </div>
</div>
